.is-overlay.prices .old-price {
    margin-right: 10px;
    text-decoration: line-through;
}

.top-slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.list-item {
    background-size: cover;
    background-repeat: no-repeat;
}

.about .about-item, .blogIndexImg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.post-list .wrap-img img{
    width: 100%;
    height: 100%;
}
.modal-content {
    width: 185px !important;
    box-shadow: none;
    border: none;
}
.test-list .list-title 
    {
        font-size: 14px !important;
    }
.header-item img {
     max-height: inherit !important; 
}
.navbar-item.is-text-centered {
    text-align: left !important;
    padding-left: 25px;
}
.header-area .login-btn
{
    color: #464545;    
}
.header-area .login-btn:after
{
    background: url("../theme/img/arr_down_black.png") no-repeat;
}
.header-area .main-page + .header-right .login-btn
{
    color: #fff;    
}
.header-area .main-page + .header-right .login-btn:after
{
    background: url("../theme/img/arr_down.png") no-repeat;
}
section.test-list.no-pad.female-lk.pad-top-more.head-marg
{
    margin-top: 0;
}
.login-menu img
{
    width: 85px;
    height: 85px;
}
.login-menu img
{    
    height: 44px;
    width: 44px;
    display: block;
    border-radius: 50%;
}
.cropit-preview-image-container
{
    background: transparent;    
}
.faces.is-overlay
{
    z-index: 1000;
    pointer-events: none;
}
.cropit-preview
{
    box-shadow: 2px 2px 5px 2px rgba(181, 181, 181, 0.65);
}
.blog-header .search .search-input
{
    width: 180px;
}
body,
.popular,
.blog-content,
.section,
.hero
{
    background-color: #f8f8f8 !important;
}
.blog-header .login-btn
{
    color: #fff !important;
}
.blog-header .login-btn:after
{
        background: url(../theme/img/arr_down.png)no-repeat !important ;
}
.face_box
{
    position: relative;
}
#image-cropper .minus
{
    float: left;
}
#image-cropper input[type="range"]
{
    float: left;
    width: 50%;
    margin-top: 8.5px;

}
.face_box .is-text-centered + .is-block
{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    display: table;
    margin: 0 auto;
    width: 100%;
}
@media only screen and (max-width: 768px)
{
    .box_min.is-pulled-right,
    .is-third.is-text-left
    {
        float: inherit !important;
        display: table;
        margin: 0px auto;
        min-width: 300px;
    }
    .is-pulled-left .card
    {
         display: table !important;
        margin: 0px auto !important;
    }
    
}

.banner-link img {

    width: 100%;
}

.login-btn.style-color{
    color: #69707a !important;
}

.blog-content .top-row-posts,
.popular .popular-list
{

    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

#form-refer-payment textarea
{
    width: 100%;
    height: 80px;
    padding: 10px 15px;
    border: 1px solid #e4e4e4;
}

